# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/secrets.properties
android/app/debug/
android/app/release/

# iOS (future-proof)
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

#old files
main-old-v1.dart
main-old-v2.dart